
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Layout/Fashion.cshtml";
}

@using (Html.BeginForm())
{
    <div class="wrapper">
        <div class="title">Đổi mật khẩu</div>
        <div class="form">
            <div class="field">
                <input placeholder="Password Old" name="passold" class="pass" type="text" required>
                <span class="icon2"><i aria-hidden="true"></i></span>
                @ViewData["1"]
            </div>
            <div class="field">
                <input placeholder="Password New" name="passnew" class="pass" type="password" required>
                <span class="icon2"><i aria-hidden="true"></i></span>
                @ViewData["2"]
            </div>
            <div class="field">
                <input placeholder="Confirm Pass" name="passagain" class="pass" type="password" required="">
                <span class="icon2"><i aria-hidden="true"></i></span>
                @ViewData["3"]
            </div>
            <div class="field">
                <h6><a href="@Url.Action("Index","Fashion")" style="padding: 5px; background-color: #f8fcc4; color: black; text-decoration: none; border-radius: 5px;">Trang chủ</a></h6>
                <input type="submit"value="Login">
            </div>
        </div>
    </div>
}
<style>
    .wrapper {
        width: 360px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
        margin:10% 45% 5%;
    }

        .wrapper .title {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            line-height: 100px;
            color: black;
            user-select: none;
            border-radius: 15px 15px 0 0;
            background: #f8fcc4;
        }

        .wrapper .form {
            padding: 10px 30px 50px 30px;
        }

            .wrapper .form .field {
                height: 50px;
                width: 100%;
                margin-top: 20px;
                position: relative;
            }

                .wrapper .form .field input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    font-size: 17px;
                    padding-left: 20px;
                    border: 1px solid lightgrey;
                    border-radius: 25px;
                    transition: all 0.3s ease;
                }

                    .wrapper .form .field input:focus,
                    form .field input:valid {
                        border-color: #4158d0;
                    }

                .wrapper .form .field label {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    color: #999999;
                    font-weight: 400;
                    font-size: 17px;
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all 0.3s ease;
                }

    .form .field input:focus ~ label,
    .form .field input:valid ~ label {
        top: 0%;
        font-size: 16px;
        color: #4158d0;
        background: #fff;
        transform: translateY(-50%);
    }

    .form .field input[type="submit"] {
        color: black;
        border: none;
        padding-left: 0;
        margin-top: -10px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        background: #979677;
        transition: all 0.3s ease;
    }

        .form .field input[type="submit"]:active {
            transform: scale(0.95);
        }

    .form .signup-link {
        color: #262626;
        margin-top: 20px;
        text-align: center;
    }

        .form .pass-link a,
        .form .signup-link a {
            color: #4158d0;
            text-decoration: none;
        }

            .form .pass-link a:hover,
            .form .signup-link a:hover {
                text-decoration: underline;
            }
</style>